* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 12rem;
  display: flex;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
header img {
  width: 8rem;
  height: 10rem;
}
header h1 {
  padding-left: 30px;
  font-size: 3rem;
  
}
.menu {
  margin: 4px auto;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: ;

}
.menu a{
  text-decoration: none;
  padding-left: 2rem;
  color: black;
}
.contenido {
  display: flex;
  border: 2px solid #ccc;
  background-color: #fff;
  margin: 0 auto;
  width: 98%;
  height: 51.5rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.iperfil {
  display: flex;
  width: 145rem;
  height: 100%;
}
.contenido .iperfil .imagen {
  height: 45rem;
  width: 40rem;
  padding-left: 15rem;
  padding-top: 6rem;
}
.datos {
  width: 80rem;
  padding-left: 10rem;
  padding-top: 2rem;
  height: 40rem;
  font-size: 1.7rem;
}
.contenido .iperfil .imagen img {
  width: 25rem;
  height: 30rem;
  border: 1.5px #006064 solid;
  padding: 2px;
  border-radius: 2px;
}
.redes {
  width: 4rem;
  height: 45rem;
  padding-top: 15rem;
}
.redes img {
  width: 4rem;
  height: 4rem;
}
footer {
  background-color: lightgreen;
  text-align: center;
  width: 100%;
  height: 1.9rem;
  border-radius: 10px;
  font-size: 1.6rem;
}
.contenido2{
  display: flex;
  border: 2px solid #ccc;
  background-color: #fff;
  margin: 0 auto;
  width: 98%;
  height: 51.5rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  justify-content: center;
}
.contenido2 .acerca{
  text-align: center;
  width: 50%;
  padding-top: 10rem;
  font-size: 2rem;
  text-align: center;
}
.contenido2 .acerca h1{
  padding-bottom: 2rem;
}
.contenido3{
  display: flex;
  border: 2px solid #ccc;
  background-color: #fff;
  margin: 0 auto;
  width: 98%;
  height: 51.5rem;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  justify-content: center;
  font-size: 2rem;
}
.estudios{
  width: 50%;
  text-align: center;
  padding-top: 10rem;
}
.cursos{
  width: 50%;
  text-align: center;
  padding-top: 10rem;
}
.cursos ul{
  list-style: none;
}
.estudios h2{
  padding-bottom: 2rem;
}
.cursos h2{
  padding-bottom: 2rem;
}
